/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Htag/Htag.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Htag_h1__JRc3a {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  margin-left: 0px;
}

.Htag_h2__ZnbzO {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  margin: 0px;
}

.Htag_h3__zc7qQ {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

