/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Htag/Htag.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Htag_h1__JRc3a {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  margin-left: 0px;
}

.Htag_h2__ZnbzO {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  margin: 0px;
}

.Htag_h3__zc7qQ {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Button/Button.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__mg_cR {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;

  font-size: 14px;

  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.Button_primary__PFIP8 {
  color: var(--main-statick-color);
  background-color: var(--primary-accent-color);
}

.Button_primary__PFIP8:hover {
  background-color: var(--primary-hover-color);
}

.Button_secondary__kYMEY {
  color: var(--main-color-black);
  background: none;
  border: 1px solid white;
  border-color: #ebebeb;
}

.Button_secondary__kYMEY:hover {
  background-color: var(--primary-accent-color);
  color: white;
}

.Button_arrow__9H3gW {
  display: inline-block;
  margin-left: 10px;
}

.Button_down__B10xD {
  transform: rotate(90deg);
  transform: all 0.2s;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Ptag/Ptag.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.Ptag_p__gYS9Z {
  margin: 0px;
}

.Ptag_s__mPPLk {
  font-size: 14px;
  line-height: 24px;
}

.Ptag_m__U6vX6 {
  font-size: 16px;
  line-height: 24px;
}

.Ptag_l__Gq6ly {
  font-size: 18px;
  line-height: 29px;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Rating/Rating.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Rating_filled__xLX0N {
  fill: var(--primary-accent-color);
}

.Rating_star__ObkYs {
  margin-right: 5px;
}

.Rating_editable__JB7Ce {
  cursor: pointer;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./components/Tag/Tag.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Tag_tag__9IK3Z {
  display: inline-block;

  box-sizing: border-box;
  margin-right: 5px;

  border-radius: 20px;
}

.Tag_s__wzSCN {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 12px;
}

.Tag_m__Wvwoc {
  padding: 5px 10px;

  font-size: 14px;
  line-height: 14px;
}

.Tag_secondary__A0F2f {
  border: 1px solid var(--border-color);
}

.Tag_red__H5y0H {
  color: white;
  background-color: red;
  font-weight: bold;
}

.Tag_grey__w_DyZ {
  color: white;
  background-color: #b3c0d9;
  font-weight: bold;
}

.Tag_green__ZLBHl {
  color: var(--green-accent-color);
  background-color: var(--light-green-accent-color);
  font-weight: bold;
}

.Tag_primary__Q9fZg {
  color: var(--primary-accent-color);
  background: none;

  border: 1px solid var(--primary-hover-color);
}

/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./layout/layuot.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.layuot_wrapper__3nBG8 {
  display: grid;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    '. header header .'
    '. sidebar body . '
    'footer footer footer footer';
}

.layuot_header__Iw_AC {
  grid-area: header;
}

.layuot_sidebar__F3iM3 {
  grid-area: sidebar;
}

.layuot_body__hUwlQ {
  grid-area: body;
}

.layuot_footer__HMIbD {
  grid-area: footer;
}

@media (max-width: 756px) {
  .layuot_wrapper__3nBG8 {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      'header'
      'body'
      'footer';
  }
  .layuot_sidebar__F3iM3 {
    display: none;
  }
  .layuot_sidebar__F3iM3 {
    display: block;
  }
}

